<h1>File</h1>
<p>upload file</p>
<ul>
    <% @contents.each do %>
         <li>file_name : <%= @contents[:filename] %></li>
         <li>file      : <%= @content[:file] %></li><br><br>
    <% end %>
</ul>

